* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background: #337d76;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  width: 1560px;
  height: auto;
  margin: 58px 158px 0px 158px;
  background: #fff1e1;
}

.container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 139px;
}
.logo {
  margin-left: 185px;
  margin-top: 25px;
}

.img-logo {
  width: 84px;
  height: 130px;
}
.container-button {
  width: 920px;
  height: 80px;
  margin-top: 50px;
  margin-right: 140px;
  margin-left: 365px;
}
.button-header {
  width: 139px;
  height: 50px;
  padding: 12px;
  margin-right: 12px;
  background-color: #dd8700;
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: center;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.button-header:hover {
  background-color: #b05d00;
}

.container-headline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 85px;
}
.container-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 163px;
}
.container-headline-title {
  width: 468px;
  height: 290px;
  margin-bottom: 75px;
}

.headline-title {
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}

.container-headline-subtitle {
  width: 456px;
  height: 135px;
  margin-bottom: 35px;
  margin-top: 25px;
}
.headline-subtitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.container-headline-icons {
  
  width: 456px;
  height: 55px;
  overflow: hidden;
  animation: typing 2s steps(50) 2ms normal ;
}
@keyframes typing {
  from {
    width: 0;
  }
}

.icons-headline {
  width: 42px;
  height: 49px;
}
.link-headline {
  margin-right: 30px;
}
.img-headline {
  width: 614px;
  height: 614px;
  background-color: #a5cfc9;
  border-radius: 12px;
  margin-right: 158px;
  box-shadow: 0px 1.7px 1.73px 0px rgba(0, 0, 0, 0.25);
  transform: translateY(0px);
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

.img-profile {
  margin: 35px 73px;
  width: 468px;
  height: 542px;
  border-radius: 12px;
}

.section-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-section {
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  color: #4b4b4b;
  margin-bottom: 70px;
}

.container-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1470px;
  height: 461px;
  background-color: #a5cfc9;
  border-radius: 12px;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 85px;
}
.container-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.icon-project {
  width: 50px;
  height: 40px;
}
.container-list {
  width: 874px;
  height: 270px;
}
.list-project {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.container-formation {
  width: 1470px;
  height: 385px;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 85px;
}
.container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.icon-card {
  width: 40px;
  height: 42px;
}
.container-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 12px;
}
.card-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 456px;
  height: 252px;
  padding: 10px;
  border-radius: 12px;
  background-color: #fcb971;
}
.card-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 456px;
  height: 252px;
  padding: 10px;
  border-radius: 12px;
  background-color: #a5cfc9;
}
.container-text-card {
  width: 370px;
}
.text-card {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.container-livro {
  width: 1470px;
  height: 985px;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 85px;
}

.container-icon-livro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 80px;
}
.card-livro-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 456px;
  height: 862px;
  padding: 10px;
  border-radius: 12px;
  background-color: #fcb971;
}
.card-livro-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 456px;
  height: 862px;
  padding: 10px;
  border-radius: 12px;
  background-color: #a5cfc9;
}
.img-livro {
  width: 237px;
  height: 302px;
  border-radius: 12px;
}
.container-img-livro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.container-sinopse {
  padding: 20px;
  width: 415px;
  height: 183px;
  margin-bottom: 35px;
}
.sinopse-livro {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

.button-livro {
  padding: 12px;
  width: 106px;
  padding: 12px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #ffffff;
  background-color: #66a79f;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  margin-top: 90px;
}
.container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon-contact {
  width: 40px;
  height: 40px;
  padding: 10px;
}
.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  color: #000000;
}
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  background-color: #dd8700;
  padding: 20px;
}
.container-titler-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 317px;
  height: 44px;
  margin-left: 45px;
}
.title-footer {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
h5 {
  font-size: 12px;
  color: #fefefe;
  font-weight: 200;
}
